<!doctype html>

<html lang="ru">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="icon" href="images/herzen-icon.png">
	

  <style>
  
   nav>ul {
     padding: 0.2em;
     font-family: 'Helvetica';
     text-align: center;
     margin: 0 auto;
   }
   
   body>ul {
     
   }
   body {
     font-size:"100%";
     background-color: lightgray;
   }
   
   .picture, .bord {
   display: block;
      margin: 0 auto; 
	  text-align:center;
   }

   .dropdown:hover>.dropdown-menu {
		display: block;
		}

		.spiritual-background {
		  background: url(images/tech.jpg) fixed;
		  background-size: cover;
		  background-position: 25% 0%;
		}
		
		.special-card {
		background-color: rgba(245, 245, 245, .77);
		}
		
		.img-logo {
		width: 200px;
		}
		
		.img-icon {
		width: 40px;
		}
		
		.legend {
      position: relative;
      overflow: hidden;
      font-size: 24px;
      font-weight: normal;
      text-align: center;
    }
    .legend > h1 {
      display: inline-block;
      margin: 0 .4em;
    }
    .legend > h1:before,
    .legend > h1:after {
      content: '';
      position: absolute;
      width: 100%;
      border-top: 2px solid #4e4e4e;
      margin-top: .6em;
    }
    .legend > h1:before {
      margin-left: -102%;
    }
    .legend > h1:after {
      margin-left: 2%;
    }
	. {
		width: 40px;
		}
	.bottomrow {
	margin-bottom: 25px;
}	
		
  </style>

  
  <title>Сотрудники</title>


  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<header>
		<div class="container-fluid spiritual-background" >
			<br><br><br><br><br><br><br><br><br>
			<div class="row">
			  <div class="col-sm-7">
			  <div class="card special-card">
				<div class="card-body">
				<div class="media">
                        <a class="media-left waves-light">
                            <img class="rounded-circle img-logo mr-3" src="images/herzen-logo-small-orig.png" alt="Test">
                        </a>
                        <div class="media-body d-none d-lg-block">
                            <h3 class="media-heading card-title">Герценовский университет</h3>
                            <h6 class="card-subtitle my-3">Российский Государственный Педагогический Университет им. А. И. Герцена</h6>
							<p class="card-text h3 mt-4">Кафедра компьтерных технологий и электронного обучения</p>							
                        </div>
						
                    </div>

		  	    </div>
			  </div>
			  </div>
			</div>
			<br><br><br>
		</div>
		</header>

  
  <nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse justify-content-md-center" id="mainNavBar">
			<ul class="navbar-nav">
			  <li class="nav-item mx-4">
				<a class="nav-link" href="home.html">Главная</a>
			  </li>
			  <li class="nav-item mx-4">
				<a class="nav-link" href="#">Абитуриенту</a>
			  </li>
			  <li class="nav-item dropdown mx-4">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownC" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Кафедра</a>
				<div class="dropdown-menu" aria-labelledby="dropdownC">
				  <a class="dropdown-item" href="#">О кафедре</a>
				  <a class="dropdown-item" href="#">Завкафедрой</a>
				  <a class="dropdown-item" href="#">Сотрудники</a>
				  <a class="dropdown-item" href="#">Выпускники</a>
				  <a class="dropdown-item" href="#">Наши разработки</a>
				  <a class="dropdown-item" href="#">Документы</a>
				</div>
			  </li>
			  <li class="nav-item active dropdown mx-4">
				<a class="nav-link dropdown-toggle" style="color: #B6BB43" href="#" id="dropdownD" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Учебная деятельность<span class="sr-only">(current)</span></a>
				<div class="dropdown-menu" aria-labelledby="dropdownD">
				  <a class="dropdown-item active" href="educational_program.html">Образовательная программа<span class="sr-only">(current)</span></a>
				  <a class="dropdown-item" href="e-learning.html">Электронное обучение</a>
				  <a class="dropdown-item" href="digital_library.html">Электронная библиотека</a>
				  <a class="dropdown-item" href="practice.html">Практика</a>
				  <a class="dropdown-item" href="VKR.html">ВКР</a>
				</div>
			  </li>
			  <li class="nav-item dropdown mx-4">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Наука</a>
				<div class="dropdown-menu" aria-labelledby="dropdownS">
				  <a class="dropdown-item" href="#">НИР студентов</a>
				  <a class="dropdown-item" href="#">Проекты</a>
				  <a class="dropdown-item" href="#">Конференции</a>
				  <a class="dropdown-item" href="#">Публикации</a>
				</div>
			  </li>
			  <li class="nav-item mx-4">
				<a class="nav-link" href="#">События</a>
			  </li>
			  <li class="nav-item mx-4">
				<a class="nav-link" href="#">Медиазал</a>
			  </li>
			  <li class="nav-item mx-4">
				<a class="nav-link" href="#">Партнёры</a>
			  </li>
			</ul>
		  </div>
		</nav>  
  
<div class="legend text-center my-4"><h1>    Сотрудники</h1></div>
<p></p>
  
  <div class="container">
  <div class="row">
    <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=3014" class="picture"><img src="photo/AG.jpg" 
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Абрамян Геннадий Владимирович</h4>
		<span class="bord">Профессор, доктор педагогических наук</span>
		</div>
  </div>
     <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow">
		 <a href="https://atlas.herzen.spb.ru/teacher.php?id=2275" class="picture">
			<img src="photo/EU.jpg" width="225" height="300" >
		</a>
		<div class="container">
			<h4 class="bord">Авксентьева Елена Юрьевна</h4>
			<span class="bord">Доцент, кандидат педагогических наук</span>
		</div>
  </div>
     <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=3772" class="picture"><img src="photo/AP.jpg" 
  width="225" height="300" ></a>
  <div class="container">
  <h4 class="bord">Аксютин Павел Александрович</h4>
        <span class="bord">Ассистент, ученой степени не имеет</span>
		</div>
  </div>
     <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=7599" class="picture"><img src="photo/nophoto.png" 
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Атаян Ануш Михайловна</h4>
        <span class="bord">Доцент, кандидат педагогических наук</span>
		</div>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1945" class="picture"><img src="photo/EZ.jpg" 
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Власова Елена Зотиковна</h4>
        <span class="bord">Заведующая кафедрой, доктор педагогических наук</span>
		</div>
  </div>
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1676" class="picture"><img src="photo/SV.jpg" 
   width="225" height="300"></a>
   <div class="container">
  <h4 class="bord">Гончарова Светлана Викторовна</h4>
        <span class="bord">Доцент, кандидат педагогических наук</span>
		</div>
  </div>
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=3869" class="picture"><img src="photo/NN.jpg" 
  width="225" height="300" ></a>
  <div class="container">
  <h4 class="bord">Жуков Николай Николаевич</h4>
        <span class="bord">Ассистент, ученой степени не имеет</span>
		</div>
  </div>
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1733" class="picture"><img src="photo/IB.jpg" 
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Государев Илья Борисович</h4>
        <span class="bord">Доцент, кандидат педагогических наук</span>
		</div>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=230" class="picture"><img src="photo/EB.jpg" 
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Готская Ирина Борисовна</h4>
        <span class="bord">Профессор, доктор педагогических наук</span>
		</div>
  </div>
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=7567" class="picture"><img src="photo/IV1.jpg" 
   width="225" height="300"></a>
   <div class="container">
  <h4 class="bord">Иванова Екатерина Алексеевна</h4>
        <span class="bord">Ассистент, ученой степени не имеет</span>
		</div>
  </div>
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1280" class="picture"><img src="photo/TA.jpg" 
  width="225" height="300" ></a>
  <div class="container">
  <h4 class="bord">Ильина Татьяна Сергеевна</h4>
        <span class="bord">Старший преподавател, ученой степени не имеет</span>
		</div>
  </div>
 
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1827" class="picture"><img src="photo/NA.jpg" 
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Карпова Наталья Александровна</h4>
        <span class="bord">Доцент, кандидат технических наук</span>
		</div>
		</div>
  </div>
  <div class="row">
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1480" class="picture"><img src="photo/OV.jpg" 
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Кужельная Оксана Владимировна</h4>
        <span class="bord">Доцент, кандидат физ.-мат. наук</span>
		</div>
  </div>
  <div class="col-lg-3 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=7515" class="picture"><img src="photo/SH1.jpg" 
   width="225" height="300"></a>
   <div class="container">
  <h4 class="bord">Шалденкова Анна Владимировна</h4>
        <span class="bord" >Ассистент, кандидат физ.-мат. наук</span>
		</div>
  </div>
  </div>


  
  
<footer class="footer bg-dark">
			<br>
			<div class="container">
				<p class="float-right "><a href="#">Наверх</a></p>
				<p class="text-light h4">Контакты</p>
				<div class="media my-3">
                <a class="media-left waves-light">
                    <img class="rounded-circle img-icon" src="images/Mail.png" alt="Test">
                </a>
                <div class="media-body">
                    <p class="text-light m-2">ctel-herzen@yandex.ru</p>
                </div>
				</div>
				<div class="media my-3">
                <a class="media-left waves-light">
                    <img class="rounded-circle img-icon" src="images/location.png" alt="Test">
                </a>
                <div class="media-body">
                    <a href="https://www.google.ru/maps/place/1+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81/@59.9340622,30.316832,17z/data=!4m8!1m2!2m1!1z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsINC90LDQsS4g0YDQtdC60Lgg0JzQvtC50LrQuCwgNDgsINC60L7RgNC_0YPRgSAx!3m4!1s0x0:0xde67d372394025c!8m2!3d59.9327881!4d30.3181256" target="_blank">
					<p class="text-light m-2">Санкт-Петербург, наб. реки Мойки, 48, корпус 1, аудитория 329</p></a>
                </div>
				</div>
				<div class="media my-3">
                <a class="media-left waves-light">
                    <img class="rounded-circle img-icon" src="images/tel.png" alt="Test">
                </a>
                <div class="media-body">
                    <p class="text-light m-2">+7 (812) 643-77-67</p>
                </div>
				</div>
				<hr class="bg-warning">
				<p class="text-light text-right"><a href="https://ict.herzen.spb.ru">ict.herzen.spb.ru</a></p>
			</div>
			<br>
		</footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
