<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
    <title>Сотрудники</title> <!-- Изменить  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Rihan_Zer0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
	<link rel="icon" href="images/herzen-icon.png">
	
	<style>
		#return-to-top {
			position: fixed;
			bottom: 20px;
			right: 20px;
			background: rgba(0, 0, 0, 0.7);
			width: 50px;
			height: 50px;
			-webkit-border-radius: 35px;
			-moz-border-radius: 35px;
			border-radius: 35px;
			display: none;
		}
		
		#return-to-top img {
			height : 20px;
			margin-left: 0px;
			position: relative;
			left: 15px;
			top: 10px;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		
		#return-to-top:hover {
			background: rgba(0, 0, 0, 0.9);
		}
		
		#return-to-top:hover img {
			top: 3px;
		}

		html {
		  position: relative;
		  min-height: 100%;
		}
		body {
		  background-color:#f0f0f0;
		  margin-bottom: 268px;
		}
		.footer {
		  padding-top: 15px;
		  position: absolute;
		  bottom: 0;
		}

		@media (max-width: 991px)  {  
		   .pr-m-header {
			padding : 5px;
			margin-bottom : -7px;
		   }
		  }
		
		.dropdown:hover>.dropdown-menu {
		  display: block;
		  margin-top: 0;
		}
		
		.dropdown-item:hover {
			background-color: #1CB7CE;
			color: white;
		}

		.spiritual-background {
		  background: url(images/head.jpeg) fixed;
		  background-size: cover;
		  background-position: 83% 100%;
		  height:51vh;
		  }
		  
		@media (max-width: 1199px) {
			.spiritual-background {
				height:38vh;
				background-position: 80% 0%;
			}
		}
		
		.special-card {
		  background-color: rgba(245, 245, 245, .0);
		  font-family: 'Montserrat', sans-serif;
		}
		
		.img-logo {
		  width: 120px
		}
		
		.img-scr {
		width: 90%
		}
			
		.img-pic {
		  width: 200px
		}
		
		.img-icon {
 		  width: 40px
		}

		.border-3 {
		  border-width:3px !important;
		}
		
		.golden-str {
			color: #B7A64A !important;
		}
		
		@media (min-width: 650px)  {		
			.pr-m-header {
				padding : 5px;
				margin-bottom : -1px;
			}
			
		
			.footer .media {
				transition-property: transform;
				transition-duration : 0.2s;
				transition-timing-function : ease-in;

			}

			.footer .media:hover {
				transform : scale(1.1);
						
			}	
			
			.footer a:hover {
				text-decoration : none;
				outline : none;	
			}
		}
		
	</style> 
	
	</head>
	
	
	<body>
		
		<header>
		<div class="container-fluid spiritual-background d-none d-md-block">
			<div class="row">
			  <div class="col-5">
			  <div class="card border-0 special-card">
				<div class="card-body">
					<div class="media">
						<a class="media-left waves-light d-none d-md-block">
                            <img class="rounded-circle img-logo my-2" src="images/herzen-logo-small-orig.png" alt="Test">
                        </a>
                        <div class="media-body d-none d-xl-block">
                            <h3 class="media-heading card-title">Герценовский университет</h3>
                            <h6 class="card-subtitle my-3">Российский Государственный Педагогический <br> Университет им. А. И. Герцена</h6>
							<hr class="bg-dark">
							<p class="card-text h3 mt-4" style="color : white; text-shadow : 2px 2px 3px black;"><strong>Кафедра компьютерных технологий <br> и электронного обучения</strong></p>							
                        </div>
                    </div>
		  	    </div>
			  </div>
			  </div>
			</div>
		</div>

		<div class="container-fluid bg-dark d-md-none text-center"><br>
			<div class="container border border-3 border-light rounded-circle" style="background-color: rgba(245, 245, 245, .85)">
				<img src="images/herzen-logo-small-orig.png" class="img-fluid" style="max-width: 100%; height: auto;" alt="Responsive image">
				<div class="row">
					<div class="col-12" style="font-family: 'Montserrat', sans-serif;">
						<p class="h3 text-center">РГПУ им.<br>А. И. Герцена</p>
						<p class="h1 text-center"><strong>КТиЭО</strong></p>
					</div>
				</div>
			</div>
		</div>
		</header>
		
		<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
			<!-- Кнопка вверх! -->	<a href="javascript:" id="return-to-top"><img src="images/arrow.svg"></a>	<!-- Кнопка вверх! -->
		  <a class="navbar-brand d-none d-md-block d-xl-none golden-str">Кафедра компьютерных технологий и электронного обучения</a>
		  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse justify-content-md-center" id="mainNavBar">
			<ul class="navbar-nav">
			  <li class="nav-item mx-4">
				<a class="nav-link" href="index.html">Главная</a>
			  </li>
			  <li class="nav-item mx-4">
				<a class="nav-link" href="enrollee.html">Абитуриенту</a>
			  </li>
			  <li class="nav-item active dropdown mx-4">
				<a class="nav-link dropdown-toggle golden-str" href="#" id="dropdownC" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Кафедра</a>
				<div class="dropdown-menu" aria-labelledby="dropdownC">
				  <a class="dropdown-item" href="AboutUs.html">О кафедре</a>
				  <a class="dropdown-item" href="head.html">Завкафедрой<span class="sr-only">(current)</span></a>
				  <a class="dropdown-item active" href="employees.html">Сотрудники</a>
				  <a class="dropdown-item" href="graduates.html">Выпускники</a>
				  <a class="dropdown-item" href="development.html">Наши разработки</a>
				  <a class="dropdown-item" href="documents.html">Документы</a>
				</div>
			  </li>
			  <li class="nav-item dropdown mx-4">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownD" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Учебная деятельность</a>
				<div class="dropdown-menu" aria-labelledby="dropdownD">
				  <a class="dropdown-item" href="educational_program.html">Образовательная программа</a>
				  <a class="dropdown-item" href="e-learning.html">Электронное обучение</a>
				  <a class="dropdown-item" href="digital_library.html">Электронная библиотека</a>
				  <a class="dropdown-item" href="practice.html">Практика</a>
				  <a class="dropdown-item" href="VKR.html">ВКР</a>
				</div>
			  </li>
			  <li class="nav-item dropdown mx-4">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownS" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Наука<span class="sr-only">(current)</span></a>
				<div class="dropdown-menu" aria-labelledby="dropdownS">
				  <a class="dropdown-item" href="research_work.html">НИР студентов</a>
				  <a class="dropdown-item" href="projects.html">Проекты</a>
				  <a class="dropdown-item" href="conferences.html">Конференции</a>
				  <a class="dropdown-item" href="publications.html">Публикации</a>
				</div>
			  </li>
			  <li class="nav-item mx-4">
				<a class="nav-link" href="events.html">События</a>
			  </li>
			  <li class="nav-item mx-4">
				<a class="nav-link" href="media_room.html">Медиазал</a>
			  </li>
			  <li class="nav-item mx-4">
				<a class="nav-link" href="partners.html">Партнёры</a>
			  </li>
			</ul>
		  </div>
		</nav>  
		
		<main role="main" class="container" style="padding-bottom:20px">
		<br><p class="d-none d-md-block"><br></p>
			<div class="row">
				<div class="col offset-0">

				<div class="legend text-center my-4"><h1>    Сотрудники</h1></div>
<p></p>

  <div class="container">
  <div class="row">
    <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=3014" class="picture"><img src="photo/AG.jpg"
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Абрамян Геннадий Владимирович</h4>
		<span class="bord">Профессор, доктор педагогических наук</span>
		</div>
  </div>
     <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow">
		 <a href="https://atlas.herzen.spb.ru/teacher.php?id=2275" class="picture">
			<img src="photo/EU.jpg" width="225" height="300" >
		</a>
		<div class="container">
			<h4 class="bord">Авксентьева Елена Юрьевна</h4>
			<span class="bord">Доцент, кандидат педагогических наук</span>
		</div>
  </div>
     <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="Aksiutin.html" class="picture"><img src="photo/AP.jpg"
  width="225" height="300" ></a>
  <div class="container">
  <h4 class="bord">Аксютин Павел Александрович</h4>
        <span class="bord">Ассистент, ученой степени не имеет</span>
		</div>
  </div>
  
  
     <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=7599" class="picture"><img src="photo/nophoto.png"
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Атаян Ануш Михайловна</h4>
        <span class="bord">Доцент, кандидат педагогических наук</span>
		</div>
  </div>
  
  
  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1945" class="picture"><img src="photo/EZ.jpg"
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Власова Елена Зотиковна</h4>
        <span class="bord">Заведующая кафедрой, доктор педагогических наук</span>
		</div>
  </div>
  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="Goncharova.html" class="picture"><img src="photo/SV.jpg"
   width="225" height="300"></a>
   <div class="container">
  <h4 class="bord">Гончарова Светлана Викторовна</h4>
        <span class="bord">Доцент, кандидат педагогических наук</span>
		</div>
  </div>
  
  
  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="" class="picture"><img src="photo/NN.jpg"
  width="225" height="300" ></a>
  <div class="container">
  <h4 class="bord">Жуков Николай Николаевич</h4>
        <span class="bord">Ассистент, ученой степени не имеет</span>
		</div>
  </div>
  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1733" class="picture"><img src="photo/IB.jpg"
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Государев Илья Борисович</h4>
        <span class="bord">Доцент, кандидат педагогических наук</span>
		</div>
  </div>
  
  
  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=230" class="picture"><img src="photo/EB.jpg"
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Готская Ирина Борисовна</h4>
        <span class="bord">Профессор, доктор педагогических наук</span>
		</div>
  </div>
  
  
  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="Ivanova.html" class="picture"><img src="photo/IV1.jpg"
   width="225" height="300"></a>
   <div class="container">
  <h4 class="bord">Иванова Екатерина Алексеевна</h4>
        <span class="bord">Ассистент, ученой степени не имеет</span>
		</div>
  </div>
  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1280" class="picture"><img src="photo/TA.jpg"
  width="225" height="300" ></a>
  <div class="container">
  <h4 class="bord">Ильина Татьяна Сергеевна</h4>
        <span class="bord">Старший преподавател, ученой степени не имеет</span>
		</div>
  </div>

  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1827" class="picture"><img src="photo/NA.jpg"
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Карпова Наталья Александровна</h4>
        <span class="bord">Доцент, кандидат технических наук</span>
		</div>
		</div>
  
  
  
  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="https://atlas.herzen.spb.ru/teacher.php?id=1480" class="picture"><img src="photo/OV.jpg"
  width="225" height="300"></a>
  <div class="container">
  <h4 class="bord">Кужельная Оксана Владимировна</h4>
        <span class="bord">Доцент, кандидат физ.-мат. наук</span>
		</div>
  </div>
  <div class="col-lg-4 сol-md-4 col-sm-6 bottomrow"><a href="Shaldenkova.html" class="picture"><img src="photo/SH1.jpg"
   width="225" height="300"></a>
   <div class="container">
  <h4 class="bord">Шалденкова Анна Владимировна</h4>
        <span class="bord" >Ассистент, кандидат физ.-мат. наук</span>
		</div>
  </div>
  </div>
  </div>

				</div>
				
				<div class="col-4 d-none d-md-block"><div class="container sticky-top"><br><br> <!-- навигационное меню для компов  -->
					<ul class="w3-ul w3-small">
						<li class="my-3"><a class="h6" href="AboutUs.html">О кафедре</a></li>
						<li class="my-3"><a class="h6" href="head.html">Завкафедрой</a></li>
						<li class="my-3 text-primary"><a class="h6" href="employees.html">Сотрудники</a></li>
						<li class="my-3"><a class="h6" href="graduates.html">Выпускники</a></li>
						<li class="my-3"><a class="h6" href="development.html">Наши разработки</a></li>
						<li class="my-3"><a class="h6" href="documents.html">Документы</a>				
					</ul></div>
				</div>						
			</div>
			<p class="d-none d-md-block"><br></p>
		
			<div class="row d-md-none"> <!-- навигационное меню для телефонов  -->
				<div class="col offset-2">
					<br><h5 class="text-info">Кафедра:</h5>
					<ul class="w3-ul w3-small">
						<li class="my-3"><a class="h6" href="AboutUs.html">О кафедре</a></li>
						<li class="my-3"><a class="h6" href="head.html">Завкафедрой</a></li>
						<li class="my-3 text-primary"><a class="h6" href="employees.html">Сотрудники</a></li>
						<li class="my-3"><a class="h6" href="graduates.html">Выпускники</a></li>
						<li class="my-3"><a class="h6" href="development.html">Наши разработки</a></li>
						<li class="my-3"><a class="h6" href="documents.html">Документы</a>					
					</ul><br>
				</div>
			</div>
		</main>

		<footer class="footer container-fluid bg-dark">
			<div class="row">
				<div class="container">
					<p class="text-light h4 mb-3">Контакты</p>
					<div class="media my-2">
						<a class="media-left waves-light">
							<img class="rounded-circle img-icon" src="images/tel.png" alt="Test">
						</a>
						<div class="media-body">
							<p class="text-light m-2">+7 (812) 643-77-67</p>
						</div>
					</div>
					<div class="media my-2">
						<a class="media-left waves-light">
							<img class="rounded-circle img-icon" src="images/Mail.png" alt="Test">
						</a>
						<div class="media-body">
							<a href="mailto:ctel-herzen@yandex.ru">
							<p class="text-light m-2">ctel-herzen@yandex.ru</p></a>
						</div>
					</div>
					<div class="media my-2">
						<a class="media-left waves-light">
							<img class="rounded-circle img-icon" src="images/location.png" alt="Test">
						</a>
						<div class="media-body">
							<a href="https://www.google.ru/maps/place/1+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81/@59.9340622,30.316832,17z/data=!4m8!1m2!2m1!1z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsINC90LDQsS4g0YDQtdC60Lgg0JzQvtC50LrQuCwgNDgsINC60L7RgNC_0YPRgSAx!3m4!1s0x0:0xde67d372394025c!8m2!3d59.9327881!4d30.3181256" target="_blank">
							<p class="text-light m-2">Санкт-Петербург, наб. реки Мойки, 48, корпус 1, аудитория 329</p></a>
						</div>
					</div>
					<hr style="background-color: #B7A64A">
					<p class="text-right"><a href="https://ict.herzen.spb.ru">ict.herzen.spb.ru</a></p>
				</div>
			</div>
		</footer>

		<script>
		$(window).scroll(function() {
			if ($(this).scrollTop() >= 75) {
				$('#return-to-top').fadeIn(200);
			} else {
				$('#return-to-top').fadeOut(200);
			}
		});
		$('#return-to-top').click(function() {
			$('body,html').animate({
				scrollTop : 0
			}, 500);
		});
		</script>
	</body>
</html>