<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Гончарова С. В.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="icon" href="images/herzen-icon.png">
	<style>
		table {
			width: 100%; /* Ширина таблицы *//* Цвет фона таблицы */ /* Цвет текста */
			border: 1px solid black; /* Расстояние между ячейками */
		}
		td, th { /* Цвет фона ячеек */
			border: 1px solid black;
			padding: 5px;
		}
		.dropdown:hover>.dropdown-menu {
			display: block;
		}
		.spiritual-background {
			background: url(https://www.unosquare.com/images/social/tech.jpg) fixed;
			background-size: cover;
		}
		.special-card {
			background-color: rgba(245, 245, 245, .5);
		}
		.img-logo {
			width: 200px
		}
		.img-icon {
			width: 40px
		}
	</style>

</head>


<body style="background-color:#f0f0f0;">

<header>
	<div class="container-fluid spiritual-background" >
		<br><br><br><br><br><br><br><br><br>
		<div class="row">
			<div class="col-sm-7">
				<div class="card special-card">
					<div class="card-body">
						<div class="media">
							<a class="media-left waves-light">
								<img class="rounded-circle img-logo mr-3" src="images/herzen-logo-small-orig.png" alt="Test">
							</a>
							<div class="media-body d-none d-lg-block">
								<h3 class="media-heading card-title">Герценовский университет</h3>
								<h6 class="card-subtitle my-3">Российский Государственный Педагогический Университет им. А. И. Герцена</h6>
								<p class="card-text h3 mt-4">Кафедра компьтерных технологий и электронного обучения</p>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
		<br><br><br>
	</div>
</header>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-md-center" id="mainNavBar">
		<ul class="navbar-nav">
			<li class="nav-item mx-4">
				<a class="nav-link" href="index.html">Главная</a>
			</li>
			<li class="nav-item mx-4">
				<a class="nav-link" href="enrollee.html">Абитуриенту</a>
			</li>
			<li class="nav-item dropdown mx-4">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownC" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Кафедра</a>
				<div class="dropdown-menu" aria-labelledby="dropdownC">
					<a class="dropdown-item" href="AboutUs.html">О кафедре</a>
					<a class="dropdown-item" href="head.html">Завкафедрой</a>
					<a class="dropdown-item" href="employees.html">Сотрудники</a>
					<a class="dropdown-item" href="#">Выпускники</a>
					<a class="dropdown-item" href="#">Наши разработки</a>
					<a class="dropdown-item" href="#">Документы</a>
				</div>
			</li>
			<li class="nav-item dropdown mx-4">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownD" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Учебная деятельность<span class="sr-only">(current)</span></a>
				<div class="dropdown-menu" aria-labelledby="dropdownD">
					<a class="dropdown-item active" href="educational_program.html">Образовательная программа<span class="sr-only">(current)</span></a>
					<a class="dropdown-item" href="e-learning.html">Электронное обучение</a>
					<a class="dropdown-item" href="digital_library.html">Электронная библиотека</a>
					<a class="dropdown-item" href="practice.html">Практика</a>
					<a class="dropdown-item" href="VKR.html">ВКР</a>
				</div>
			</li>
			<li class="nav-item dropdown mx-4">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Наука</a>
				<div class="dropdown-menu" aria-labelledby="dropdownS">
					<a class="dropdown-item" href="#">НИР студентов</a>
					<a class="dropdown-item" href="#">Проекты</a>
					<a class="dropdown-item" href="#">Конференции</a>
					<a class="dropdown-item" href="#">Публикации</a>
				</div>
			</li>
			<li class="nav-item mx-4">
				<a class="nav-link" href="#">События</a>
			</li>
			<li class="nav-item mx-4">
				<a class="nav-link" href="#">Медиазал</a>
			</li>
			<li class="nav-item mx-4">
				<a class="nav-link" href="#">Партнёры</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<br>
	<div class="row">

		<div class="col-lg-28"><h1>Гончарова Светлана Викторовна</h1><br>
			<div><p><img src="https://ict.herzen.spb.ru/wp-content/uploads/2014/02/goncharova.jpg" alt="Gonchyarova" align="left" vspace="5" hspace="5"></p></div>
			<div style="margin-left: 320px; margin-top: 25px;">
				<p><strong>Дата рождения:</strong> 07 июня</p><br>
				<p><strong>Должность:</strong> доцент</p><br>
				<p><strong>Учёная степень:</strong> кандидат педагогических наук</p><br>
				<p><strong>Учёное звание:</strong> доцент</p><br>
				<p><strong>Электронная почта:</strong> <a href="mailto:svetgonch@gmail.com">svetgonch@gmail.com</a></p>
			</div>
			<br><hr>
			<h4>Читаемые дисциплины</h4><br>
			<div style="margin-left: 20px;">
				<ul>
					<li>
						<p>Информатика</p>
					</li>
					<li>
						<p>Информационные технологии в физике</p>
					</li>
					<li>
						<p>Программирование</p>
					</li>
					<li>
						<p>Технологии компьютерного моделирования</p>
					</li>
					<li>
						<p>Вычислительная математика</p>
					</li>
					<li>
						<p>Анализ данных</p>
					</li>
					<li>
						<p>Информационные технологии</p>
					</li>
					<li>
						<p>Организация и модели корпоративного обучения</p>
					</li>
				</ul><br>
				<p>Участие в ГАК</p>
				<p>Руководство практикой</p>
				<p>Руководство ВКР бакалавров</p>
				<p>Руководство ВКР магистров</p><br>
				<p><a href="https://atlas.herzen.spb.ru/indplan.php?ID=1676&amp;CHAIR=238">Индивидуальный план работы</a></p>
				<p><a href="https://atlas.herzen.spb.ru/schedule.php?id=1676">Расписание занятий преподавателя</a></p>
			</div>
			<hr>
			<h4>Электронные образовательные ресурсы преподавателя</h4><br>
			<div style="margin-left: 20px;">
				<p><a href="https://inftech.spb.ru/">Информационные технологии (в составе коллектива)</a></p>
				<p><a href="https://moodle.herzen.spb.ru/course/view.php?id=1538">Информатика для ИСиТ</a></p>
				<p><a href="https://moodle.herzen.spb.ru/course/view.php?id=1539">Информатика для ИВТ</a></p>
				<p><a href="https://moodle.herzen.spb.ru/course/view.php?id=4222">Программирование. Язык С</a></p>
				<p><a href="https://moodle.herzen.spb.ru/course/view.php?id=1541">Информационные технологии в физике</a></p>
				<p><a href="https://moodle.herzen.spb.ru/course/view.php?id=1939">Технологии компьютерного моделирования</a></p>
				<p><a href="https://moodle.herzen.spb.ru/course/view.php?id=1579">Анализ данных</a></p>
				<p><a href="https://moodle.herzen.spb.ru/course/view.php?id=1580">Вычислительная математика</a></p>
			</div>
			<hr>
			<h4>Научно-исследовательская работа</h4><br>
			<h4>Участие в проектах:</h4><br>
			<ul>
				<li>
					<p>Проект «Повышения квалификации преподавателей высшей школы в области использования информационных технологий в образовании» (исполнитель);</p>
				</li>
				<li>
					<p>Грант «Подготовка педагогов для внедрения информационных технологий обучения в образовательный процесс образовательных учреждений Санкт-Петербурга» (исполнитель);</p>
				</li>
				<li>
					<p>Проект «Преподавание информатики в образовательных учреждениях» по специальности 050202 «Информатика» (исполнитель);</p>
				</li>
				<li>
					<p>Проект «Разработка обновленного содержания и учебно-методического обеспечения предметной подготовки по направлениям естественнонаучное и физико-математическое образование в условиях предпрофильного и профильного обучения» (руководитель – академик РАО, д. ф.-м-н., проф. Г.А. Бордовский);</p>
				</li>
				<li>
					<p>Целевая программа Санкт-Петербурга «Педагогические кадры системы образования Санкт-Петербурга» по договору № 469 между Комитетом по образованию и РГПУ им. А.И. Герцена. «Профессиональная переподготовка граждан, направленных комитетом для обучения в университет по образовательной программе переподготовки педагогических кадров образовательных учреждений Санкт-Петербурга»;</p>
				</li>
				<li>
					<p>Экспериментальная обработка методик сетевого интерактивного обучения с использованием различных программных платформ на основе проектного методы (Власова Е.З., Гвасалия Д.А., Гончарова С.В., Карпова Н.А.). В рамках инновационной образовательной программы «Создание инновационной системы подготовки специалистов в области гуманитарных технологий в социальной сфере» РГПУ им. А.И. Герцена;</p>
				</li>
				<li>
					<p>Электронные учебно-методические комплексы по дисциплине «Информационные и коммуникационные технологии в образовании» для бакалавров по направлениям «Педагогическое образование» (Власова Е.З., Гасанов О.К., Гончарова С.В.). Издание подготовлено в рамках инновационной образовательной программы «Создание инновационной системы подготовки специалистов в области гуманитарных технологий в социальной сфере» РГПУ им. А.И. Герцена. (160 стр).</p>
				</li>
			</ul>
			<hr>
			<h4>Публикационная активность</h4><br>
			<div style="margin-left: 20px;">
				<p>Число публикаций на <a href="http://elibrary.ru">elibrary.ru</a> - 25</p>
				<p>Число публикаций в РИНЦ - 25</p>
				<p>Число цитирований - 61</p>
				<p>Индекс Хирша по всем публикациям на <a href="http://elibrary.ru">elibrary.ru</a> - 4</p>
				<p><a href="https://elibrary.ru/author_items.asp?authorid=632307&amp;pubrole=100&amp;show_refs=1&amp;show_option=0">Публикации преподавателя elibrary.ru</a></p>
				<p>Число публикаций Scopus - 1</p>
				<p><a href="#">Публикации преподавателя Scopus</a></p>
				<hr>
			</div>
			<h4>Интеллектуальная собственность</h4><br>
			<div style="margin-left: 20px;">
				<p>Свидетельство о государственной регистрации программы для ЭВМ № 2014616086 Программа электронного обучения информационным технологиям</p>
				<p>Дата регистрации 10 июня 2014 г</p></div>
			<div style="text-align: center">
			<p><img src="https://4.downloader.disk.yandex.ru/preview/ba28454aea6d51bf73da2d351264ca1ba709e47ec65baee881b2f3937f824982/inf/_kTyQpAaIQD1f91-WxTdoYwJRa_fCArPJACqjsVIds-HQoVyM3cnpUTXbob17Mf-sZzk9VyeM0k7VzkOoJ0wyQ==?uid=0&amp;filename=%D0%A1%D0%B2%D0%B8%D0%B4%D0%B5%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE%20%D0%98%D0%A2.jpg&amp;disposition=inline&amp;hash=&amp;limit=0&amp;content_type=image/jpeg&amp;tknv=v2&amp;size=1249x534" alt="svidetelstvo"></p>
			</div>
			<hr>
			<h4>Повышение квалификации</h4><br>

			<div style="text-align: center">
				<table>

					<thead>
					<tr>
						<th>№</th>
						<th>Даты</th>
						<th>Обучающая организация</th>
						<th>Название программы, <br> кол-во часов, номер удостоверения, дата выдачи</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1</td>
						<td>19.11.2012 <br>–<br>19.12.2012</td>
						<td>РГПУ им. А.И.Герцена</td>
						<td>Разработка системы оценки освоения компетенций выпускников бакалавриата и магистратуры в соответствии с ФГОС нового поколения, 72 часа<br>Регистрационный № 1629</td>
					</tr>
					<tr>
						<td>2</td>
						<td>06.02.2012 <br>–<br>29.06.2012</td>
						<td>ГБОУ ДПО ЦПКС СПБ «Региональный центр оценки качества образования и информационных технологий»</td>
						<td>Профессионально-педагогическая компетентность эксперта ЕГЭ по информатике и ИКТ, 80 часов<br>Регистрационный № 550</td>
					</tr>
					<tr>
						<td>3</td>
						<td>21.04.2014 <br>–<br>30.06.2014</td>
						<td>РГПУ им. А.И.Герцена</td>
						<td>Развитие научно-образовательной среды университета в условиях трехуровневой системы профессиональной подготовки, 16 часов, Регистрационный № 1771<br>№ 14 0321295</td>
					</tr>
					<tr>
						<td>4</td>
						<td>04.03.2015 <br>–<br>24.04.2015</td>
						<td>РГПУ им. А.И.Герцена </td>
						<td>Проектирование программ государственной итоговой аттестации бакалавров и магистров на основе технологий оценки компетентностей, 72 часа, Регистрационный №4688<br>№ 781800886472</td>
					</tr>
					<tr>
						<td>5</td>
						<td>13.06.2015 <br>–<br>15.09.2015</td>
						<td>ООО «Центр онлайн-обучения Нетология-групп» </td>
						<td>Современные образовательные информационные технологии (EdTech) в работе учителя», 72 часа<br>№ 018455</td>
					</tr>
					<tr>
						<td>6</td>
						<td>20.02.2017 <br>–<br>28.02.2017</td>
						<td>ФГБНУ «Национальный НИИ общественного здоровья имени Н.А. Семашко» </td>
						<td>Нормативно-правовые основы здоровьесберегающей деятельности», 16 часов, Регистрационный № 0298/16<br> № 772403577012</td>
					</tr>
					<tr>
						<td>7</td>
						<td>20.02.2017 <br>–<br>28.02.2017</td>
						<td>ФГБНУ «Национальный НИИ общественного здоровья имени Н.А. Семашко» </td>
						<td>Компетенция здоровьесбережения в структуре личных и социальных компетенций обучающихся, 16 часов, Регистрационный № 0337/16<br>№ 772403577052</td>
					</tr>
					<tr>
						<td>8</td>
						<td>19.05.2017 <br>–<br>20.05.2017</td>
						<td>РГПУ им. А.И.Герцена</td>
						<td>Современный информационные технологии в образовании, 16 часов, Регистрационный № 26-711<br> № 317800077143</td>
					</tr>
					<tr>
						<td>9</td>
						<td>02.05.2017 <br>–<br>31.05.2017</td>
						<td>РГПУ им. А.И.Герцена</td>
						<td>Проектирование фонда оценочных средств основной профессиональной образовательной программы высшего образования, 16 часов, Регистрационный № 2824 <br>№ 317800077680</td>
					</tr>
					<tr>
						<td>10</td>
						<td>10.04.2017 <br>–<br>29.04.2017</td>
						<td>РГПУ им. А.И.Герцена</td>
						<td>Проектирование и организация учебного процесса в электронной информационно-образовательной среде вуза, 16 часов, Регистрационный № 1797<br>№ 317800076145</td>
					</tr>
					</tbody>
				</table><br>
			</div>
		</div>
	</div>
</div>
<!-- Вставить ссылки на изображения -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" align="center">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="https://docviewer.yandex.ru/view/0/htmlimage?id=i5fk-3h6ajx3ihy5b3t8hlqrpjg3eai3qo64b76292ohwns3lv64qbutab0umr2o4301ia1kyc4sluzs3ryi74fp9rbmourf8g5d5jgk&amp;name=b5a22.jpg&amp;dsid=d10cb7b453e42efb385bef75bd954d71" alt="пикча1">
		</div>
		<div class="carousel-item">
			<img src="#" alt="пикча2">
		</div>
		<div class="carousel-item">
			<img src="#" alt="пикча3">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>

</div>
<br>


<footer class="footer bg-dark">
	<br>
	<div class="container">
		<p class="float-right "><a href="#">Наверх</a></p>
		<p class="text-light h4">Контакты</p>
		<div class="media my-3">
			<a class="media-left waves-light">
				<img class="rounded-circle img-icon" src="images/Mail.png" alt="Test">
			</a>
			<div class="media-body">
				<p class="text-light m-2">ctel-herzen@yandex.ru</p>
			</div>
		</div>
		<div class="media my-3">
			<a class="media-left waves-light">
				<img class="rounded-circle img-icon" src="images/location.png" alt="Test">
			</a>
			<div class="media-body">
				<a href="https://www.google.ru/maps/place/1+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81/@59.9340622,30.316832,17z/data=!4m8!1m2!2m1!1z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsINC90LDQsS4g0YDQtdC60Lgg0JzQvtC50LrQuCwgNDgsINC60L7RgNC_0YPRgSAx!3m4!1s0x0:0xde67d372394025c!8m2!3d59.9327881!4d30.3181256" target="_blank">
					<p class="text-light m-2">Санкт-Петербург, наб. реки Мойки, 48, корпус 1, аудитория 329</p></a>
			</div>
		</div>
		<div class="media my-3">
			<a class="media-left waves-light">
				<img class="rounded-circle img-icon" src="images/tel.png" alt="Test">
			</a>
			<div class="media-body">
				<p class="text-light m-2">+7 (812) 643-77-67</p>
			</div>
		</div>
		<hr class="bg-warning">
		<p class="text-light text-right"><a href="https://ict.herzen.spb.ru">ict.herzen.spb.ru</a></p>
	</div>
	<br>
</footer>

</body>
</html>
